qdrant-client>=1.9.0
sentence-transformers>=3.0.0
langchain-text-splitters>=0.2.0
langchain-core>=0.2.0
python-dotenv>=1.0.0
tqdm>=4.66.0
torch>=2.0.0
streamlit>=1.35.0
altair>=5.0.0
openai>=1.0.0
codecarbon>=3.0.0
pynvml>=11.5.0
